*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.card{
    background-color: azure;
    width: 250px;
    border: 4px dotted rgb(58, 16, 44);
    margin: 10px;
    padding: 10px;
}